/*CSS for homepage*/
.container{
    border: 1px solid black;
    width: 80%;
    margin: 2% auto;
    padding: 4% 0;
}
*{
    margin: 0 0;
    padding: 0 0;
}
/*CSS for navbar*/
.logo{
    width: 10%;
    border: 1px solid red;
    float: left;
}
li{
    float: right;
}
li a{
    padding: 10px;
	padding-top: 14px;
	color: black;
    text-decoration: none;
}
.menu ul{
    list-style-type: none;
}