
.box1{
	margin: 5% 35%;
	background-image: url("backg.jpg"); 
	padding-left: 50px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px grey;
    border: 2px inset;
}
.input{
	width: 300px;
	height: 25px;
	box-shadow: none;
	border-color: skyblue;
}
.signn{
	background-color:deepskyblue ;
    color: #ffffff;
    margin: 10px;
    width: 80px;
}
.signn:hover{
	background-color: #0080C1;
    color: solid white;
    margin: 10px;
    width: 80px;
}

.p{
	font-size: 25px;
	margin-left:30px;
	margin-bottom: 30px;
}
.loginimg
{
	height: 30px;
	width: 30px;
	margin-top: 5%; 
	margin-left: 43%;
	margin-bottom: 6%;
}
.registerimg{
	height: 30px;
	width: 30px; 
	margin-left: 43%;
	margin-bottom: 6%;
}